<div class="app">
  <!-- <app-hello-world></app-hello-world> -->
   <!-- <app-menu-component></app-menu-component>

   <app-login></app-login>
   <app-home></app-home>
   <app-footer></app-footer> -->

   <!-- <app-formsexample></app-formsexample> -->
    <!-- <a routerLink="templateform">Template</a>
    <a routerLink="dynamicform">dynamicform</a>
    <a routerLink="book/12">Books Rounting params Example</a>
    <app-server></app-server>

    <router-outlet></router-outlet> -->

   <!-- <app-dynamicform></app-dynamicform> -->

   <!-- <a routerLink="homepage">Home</a>
    <a routerLink="category">Admin</a>
    <a routerLink="addproduct">Add Product</a> -->
    

   <!-- <app-homepage></app-homepage>
   <app-category></app-category> -->
  <!-- <router-outlet></router-outlet> -->
  <!-- <app-addproduct></app-addproduct> -->

  <app-navbar></app-navbar>
  
</div>